.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3vh;
    margin-top: 5vh;
    padding-top: 15px;
    /* colors */
    background-color: black;
    color: white;
}

.business-stuff{
    margin-top: 5vh;
}

.search-section form{
    display: flex;
    flex-direction: row;
}

.search-section button{
    background-color: red;
    color: white;
    font-weight: 800;
}

.bottom-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.bottom-nav a{
    text-decoration: none;
    color: white;
}